*
  margin: 0
  padding: 0
  box-sizing border-box

html, body
  width: 100%
  height: 100%

body
  padding: 20px 40px
  font-family: Ubuntu
  background: #fff
  color #666
  font-size: 14px
  line-height: 18px


h1, h2, h3
  margin-bottom: 15px

nav
  margin-bottom: 20px

  ul
    li
      font-size: 15px
      line-height: 26px

a
  color blue

div, p
  margin-bottom: 10px

form
  margin-bottom: 20px

  button
    margin-bottom: 15px

button, input
  font-family: Ubuntu
  margin-right: 2px
  line-height: 26px
  padding: 0 6px
  font-size: 15px
  border: 1px solid #ccc
  border-radius 2px
  outline: none
  color #222

  &:focus
    outline: none

button
  cursor: pointer
  padding: 0 13px

.email
  color #ff6312

.ok
  color #14807a

.error
  color #ff461d

.Navigation
  ul
    display inline-block
    width: 100%

    li
      float: left
      list-style none
      margin-right: 20px
